main#playground {


  }
  
  div.cell {
    width: 5vw;
    height: 5vw;
    min-height: 5px;
    min-width: 5px;
    display: inline-block;
    margin: 3px;
    border: 0px solid white;
    box-sizing: border-box;
    transition: border ease .1s;
  }
  
  button#go {


    display: block;
    width: 5vw;
    font-size: 1em;
    height: 3vh;
    background-color: #ccc;
    border: none;
    margin: 1.5vh auto;
    cursor: pointer;

  }
  
  div#message {
    text-align: center;
    font-size: 1em;

    padding: 2em;
    color: #ccc;
  }