* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', cursive;
  
  }


/* body {

  overflow: hidden;

}
   */
  
  
  canvas {
  
    /* background: blue; */
    /* transform: translate(-50%,-50%);
    top: 50%;

    width: 100%;
    text-align: center;
    font-size: 80px; */
    top: 0;
    left:0;
    margin-bottom: 12vh;
    margin-top: 1vh;

  
    }
  
    img {
  
  
      display: none;
  
    }


  #loading {



  
  
    /* top: 50%;

    width: 100%;
    text-align: center;
    font-size: 80px; */


  }